<!DOCTYPE html>
<html lang="<%= i18n.language %>">

<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard</h1>
    <p>Welcome, <%= user.username %>
    </p>
    <a href="/logout">Logout</a>
</body>

</html>